{% extends 'base.html' %}

{% block title %}
<title>About</title>
{% endblock%}

{% block body %}

<div class="content">
    <div class="content__text">
        <h1 class="title">What is <span>scraper</span></h1>
        <p class="sub__title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum sequi cupiditate officiis dolores, culpa natus? Quaerat quis illo laboriosam rem dolores corporis cumque saepe voluptas, culpa unde at, esse maxime eveniet omnis cum veniam recusandae nulla? Rerum perspiciatis consectetur non.</p>
        <a class="button" href="/extraction">Scrap produt</a>
    </div>
    <div class="content__img">
        <img src="../static/images/about.png" alt="">
    </div>
</div>
{% endblock%}