{% extends 'base.html' %}

{% block title %}
<title>About</title>
{% endblock%}

{% block body %}

<div class="content mt-4 mb-5">
    <div class="content__text" data-aos="fade-up">
        <h1 class="title"><span class="text__green">Hi there, I'm</span> Alex Hlatsko</h1>
        <p class="sub__title mt-4">I am the author of this project. I am chasing my dream of becoming a frontend developer. I love programming, playing the guitar, playing computer games, playing sports, and also <span class="text__red">travelling</span>.</p>
        <a href="/extraction" class="btn mt-3">Let's try</a>
    </div>
    <div class="content__img">
        <img data-aos="zoom-in" src="../static/images/about.png" alt="">
    </div>
</div>

<div class="content mb-5">
    <div class="content__img">
        <img data-aos="zoom-in" src="../static/images/lib.png" alt="">
    </div>
    <div class="content__text" data-aos="fade-up">
        <h1 class="title"><span class="text__green">Libraries </span>used in project</h1>
        <ul class="list-group list-group-flush">
            <li class="fs-5 list-group-item text__red">Bootstrap</li>
            <li class="fs-5 list-group-item text__red">Pandas</li>
            <li class="fs-5 list-group-item text__red">Chart.js</li>
            <li class="fs-5 list-group-item text__red">AOS (Animate On Scroll Library)</li>
            <li class="fs-5 list-group-item text__red">Flask</li>
            <li class="fs-5 list-group-item text__red">Flask Table</li>
            <li class="fs-5 list-group-item text__red">SQLAlchemy</li>
          </ul>
    </div>
</div>

{% endblock%}