{% extends 'base.html'%} 

{% block title %}
<title>Charts for {{product_id}}</title>
{% endblock %} 

{% block body %}
<input type="hidden" id="firstChartData" value="{{firstChartData}}" />
<input type="hidden" id="secondChartData" value="{{secondChartData}}" />




<div class="content my-4" >
    <div class="content__text">
        <h1 class="title"><span class="text__white fs-2">Total number of negative and positive recommendations</h1>
    </div>
    <div class="content__img">
        <div class="diagram">
			<canvas id="firstChart"></canvas>
		</div>
    </div>
</div>

<div class="content my-4" >
    <div class="content__text">
        <h1 class="title"><span class="text__whate fs-2">How many users have given specific ratings</h1>
		<a class="btn mt-3" href="/product/{{request.view_args.id}}">Go back</a>
    </div>
    <div class="content__img">
        <div class="diagram">
			<canvas id="secondChart"></canvas>
		</div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
	const firstChartData = JSON.parse(
		document.querySelector("#firstChartData").value
	);
	const firstChartConfig = {
		type: "pie",
		data: {
			labels: Object.keys(firstChartData),
			datasets: [
				{
					label: "Positive/Negative opinions",
					backgroundColor: ["rgba(100,255,0, .9)", "rgba(255,0,172 ,.9)"],
					borderColor: ["rgba(255,255,255, 1)", "rgba(255,255,255 ,1)"],
					borderWidth: 1,
					data: Object.values(firstChartData),
				},
			],
		},
		options: {},
	};
	const firstChart = new Chart(
		document.getElementById("firstChart"),
		firstChartConfig
	);

	const secondChartData = JSON.parse(
		document.querySelector("#secondChartData").value
	);
	const secondChartConfig = {
		type: "bar",
		data: {
			labels: Object.keys(secondChartData),
			datasets: [
				{
					label: "Positive/Negative opinions",
					backgroundColor: ["rgba(100,255,0, .9)", "rgba(255,0,172 ,.9)"],
					borderColor: ["rgba(255,255,255, 1)", "rgba(255,255,255 ,1)"],
					borderWidth: 1,
					data: Object.values(secondChartData),
				},
			],
		},
		options: {},
	};
	const secondChart = new Chart(
		document.getElementById("secondChart"),
		secondChartConfig
	);
</script>
{% endblock %}
