{% extends 'base.html'%} 

{% block title %}
<title>Error 404</title>
{% endblock %} 

{% block body %}

<div class="content" >
  <div class="content__text"
  data-aos="fade-zoom-in"
  data-aos-easing="ease-in-back"
  data-aos-delay="300"
  data-aos-offset="0" data-aos-duration="100">
      <h1 class="title fs-2">An error: <span class="text__red">{{error}}</span></h1>
      <p class="sub__title mt-4">This error could occur due to: the product code was entered incorrectly, the product does not exist, there was a problem writing the product to the database</p>
      <a class="btn" href="/" type="submit">Home</a>
  </div>
  <div class="content__img">
      <img data-aos="fade-up" src="../static/images/error.png" alt="">
  </div>
</div>

{% endblock %}
