{% extends 'base.html' %}

{% block title %}
<title>Extraction</title>
{% endblock%}

{% block body %}

    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-heartbreak-fill"></i> <strong>{{error}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

<div class="search__container">
    <h1 class="title">Write product <span>index</span></h1>
    <form class="search__form" action="{{url_for('extraction')}}" method="POST">
        <input type="text" class="form-control" id="product_id" name="product_id">
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>

{% endblock%}