{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock%}

{% block body %}

<div class="content" >
    <div class="content__text" data-aos="fade-up">
        <h1 class="title"><span class="text__green">See a review</span> of any product</h1>
        <p class="sub__title mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque totam suscipit ex hic distinctio cupiditate vitae maiores. Ut suscipit quisquam alias odio culpa qui voluptatem!</p>
        <a href="/about" class="btn mt-3">Learn More</a>
    </div>
    <div class="content__img">
        <img data-aos="zoom-in" src="../static/images/home.png" alt="">
    </div>
</div>

{% endblock%}