{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock%}

{% block body %}

<div class="content">
    <div class="content__text">
        <h1 class="title">You should use this <span>scraper</span> now!</h1>
        <p class="sub__title">Don't waste time, and just look at the reviews and choose the product for yourself</p>
        <a class="button" href="/about">Learn more</a>
    </div>
    <div class="content__img">
        <img src="../static/images/home.png" alt="">
    </div>
</div>

{% endblock%}