{% extends 'base.html' %}

{% block title %}
<title>Products</title>
{% endblock%}

{% block body %}
<div class="d-flex">
	{% for productInfo in productsInfos %}

	<div class="card m-2" style="width: 20rem;">
		<div class="card-body">
		  <h5 class="card-title"><a class="text__red" href="/product/{{productInfo.id}}">{{productInfo.name}}</a></h5>
		  <h6 class="card-subtitle mb-2 text__white">#{{productInfo.id}}</h6>
		  <a class="text__red" href="/delete/{{productInfo.id}}">Delete</a>
		  <p class="card-text text__white">Average Score: <span class="text__green">{{productInfo.averageScore}}</span></p>
		  <p class="card-text text__white">Total Opinions: <span class="text__green">{{productInfo.opinions_count}}</span></p>
		  <p class="card-text text__white">Total Upsides: <span class="text__green">{{productInfo.upsidesCount}}</span></p>
		  <p class="card-text text__white">Total Downsides: <span class="text__green">{{productInfo.downsidesCount}}</span></p>
		  <a class="btn m-2 fs-6" href="/download-json/{{productInfo.id}}" class="card-link">JSON</a>
		  <a class="btn m-2 fs-6" href="/download-csv/{{productInfo.id}}" class="card-link">CSV</a>
		  <a class="btn m-2 fs-6" href="/download-xlsx/{{productInfo.id}}" class="card-link">XML</a>
		  <a class="btn m-2 fs-6" href="/charts/{{productInfo.id}}" class="card-link">Charts</a>
		</div>
	  </div>
	{%endfor%}
</div>
{% endblock%}